.App {
    width: 1000px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    /*background: url("../icons/bg.jpg");*/
    background-size: contain;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    margin-bottom: 10px;
    border-radius: 5px;
    background: azure;
}

.order {
    border: 2px solid black;
    width: 49%;
    height: 500px;
    border-radius: 5px;
    background: azure;
}
.items {
    border: 2px solid black;
    width: 49%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 5px;
    background: azure;
}