.orderItem {
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    background: white;
    padding: 0 10px;
    text-align: left;
}

.btn {
    font-size: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    margin-left: 20px;
}

.orderItem p {
    font-size: 18px;
    font-weight: bold;
}

.orderItem h3 {
    flex-grow: 1;
}

.orderHide {
    display: none;
}

.orderShow {
    display: flex;
}

.orderPrice {
    margin-left: 20px;
}
